@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html {
    font-family: 'Poppins', sans-serif;
}

body {    
    background-image: url(/images/27082020-DJI_0196.jpg);
    background-position: center;
    display: flex;    
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {    
    width: 300px;    
    padding: 20px;    
    background: rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8.9px);
    -webkit-backdrop-filter: blur(8.9px);               
}

h1 {
    text-align: center;
    margin-top: 10px;
    font-weight: 700;  
    color: #ffffff;  
}

#cityName {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    padding: 5px 10px 5px 10px;
    width: 280px;    
    color: whitesmoke;
    background: rgba(37, 37, 37, 0.26);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    border: 1px solid rgba(37, 37, 37, 0.21);    
}


#cityName:focus-visible {
    outline: 1px solid #ffffff;
}

#mError {
    display: none;
    color: #FF8585;
    font-size: 12px;
    margin: 0;
    position: absolute;
    right: 30px;
    top: 110px;
}

.info {
    color: whitesmoke;    
    padding: 20px;
    margin-top: 20px;    
    text-align: center;    
    background: rgba(37, 37, 37, 0.26);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    border: 1px solid rgba(37, 37, 37, 0.21);    
}

.info > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#icon {
    display: inline-block;
}

#temp {
    display: inline-block;
    font-size: 48px;
    font-weight: 700;
    margin: 0 5px;
}

#condition {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: 700;
}

#city {
    margin: 5px;
}

#time {
    margin: 0;
    font-size: 13px;
}

.container2 {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    grid-auto-flow: row;
    grid-template-areas:
      "item-1 item-2";    
}

.container2 > div {
    color: whitesmoke;    
    height: 125px;
    margin-top: 20px;    
    text-align: center;    
    background: rgba(37, 37, 37, 0.26);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    border: 1px solid rgba(37, 37, 37, 0.21);
}

.container2 > div > div {
    height: 50px;
    
}

.container2 > div > div > img {
    height: 50px;
}

.day {
    font-size: 13px;
    margin: 10px 0 0 0;
}

.temp1 {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 0 0;
}
  
.item-1 { 
    grid-area: item-1; 
}
  
.item-2 { 
    grid-area: item-2; 
}

.footer {
    position: absolute;    
    bottom: 20px;
}

#logo {    
    width: 30px; 
    height: 30px;
    -webkit-filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
     filter: drop-shadow(6px 6px 8px rgb(0, 0, 0));    
}

#logo:hover {
    transition: 0.2s;
    width: 35px;
    height: 35px;     
}




  
