@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html {
    font-family: 'Poppins', sans-serif;
}

body {    
    background-color: blanchedalmond;
    display: flex;    
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {    
    background-color:#df9075;
    width: 300px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);  
        
}

h1 {
    text-align: center;
    margin-top: 10px;
    font-weight: 700;  
    color: #ffffff;  
}

#cityName {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    padding: 5px 10px 5px 10px;
    width: 280px;
    border: 0px;
    border-radius: 5px;    
}

.info {
    color: #212121;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    display: none;
}

.info > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#icon {
    display: inline-block;
}

#temp {
    display: inline-block;
    font-size: 48px;
    font-weight: 700;
    margin: 0 5px;
}

#condition {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: 700;
}

#city {
    margin: 5px;
}

#time {
    margin: 0;
    font-size: 13px;
}

.container2 {  
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    grid-auto-flow: row;
    grid-template-areas:
      "item-1 item-2";    
}

.container2 > div {
    background-color: #ffffff;
    height: 130px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
}

.container2 > div > div {
    height: 50px;
}

.container2 > div > div > img {
    height: 50px;
}

.day {
    font-size: 13px;
    margin: 10px 0 5px 0;
}

.temp1 {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 0 0;
}
  
.item-1 { 
      grid-area: item-1; 
}
  
.item-2 { 
    grid-area: item-2; 
}
  
.item-3 { 
    grid-area: item-3; 
}
  
